body {
    margin: 0;
    font-family: 'Abel', sans-serif;
    background-color: #341f6e;
    overflow-x: hidden;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5e3dcb;
    padding: 10px;
    overflow: hidden;
}

.navbar-logo img {
    height: 40px;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin: 0 10px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}

.navbar-menu li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
}

.navbar-menu li a:hover {
    background-color: #4a2ba7;
}

#profile-container, #logout-container {
    display: none;
}

/* Hamburger menu icon */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Dropdown menu (hidden by default) */
.dropdown {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
}

.dropdown a {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.dropdown a:last-child {
    border-bottom: none;
}

.dropdown a:hover {
    background-color: #444;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .dropdown {
        display: none;
    }
}

.page-wrapper {
    width: 100%;
    min-height: 50vh;
    position: relative;
    background-color: #422e94;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1230px;
    min-height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    position: relative;
}

.heading {
    font-weight: 600;
    display: block;
    font-family: 'Abel', sans-serif;
}

.heading.h1 {
    margin-bottom: 18px;
    font-size: 46px;
    line-height: 1.25em;
}

.spacer {
    height: 48px;
}

.spacer._16 {
    flex: none;
    width: 16px;
    height: 16px;
}

.text-box {
    max-width: 650px;
    position: relative;
}

.text-box._500px {
    max-width: 500px;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

img {
    max-width: 100%;
    display: inline-block;
    border-radius: 9px;
}

.paragraph.large {
    font-size: 20px;
    line-height: 1.5em;
    font-family: 'Abel', sans-serif;
}

.hero-grid {
    grid-template-rows: auto;
    grid-template-columns: 1.4fr 1fr;
    align-items: center;
}

.button {
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 9px;
    flex: none;
    margin-bottom: 8px;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Abel', sans-serif;
    line-height: 1.5;
    transition: box-shadow .2s, transform .2s, border-color .2s, color .2s, background-color .2s;
    box-shadow: 0 2px rgba(32, 32, 32, 0.5);
    text-decoration: none;
}

.button:hover {
    background-color: rgba(61, 61, 61, 0.8);
}

.button:active {
    background-color: gray;
    transform: translate(0, 2px);
    box-shadow: 0 0 rgba(32, 32, 32, 0)
}

.container2 {
    display: flex;
    justify-content: space-around;
}
.table-container {
    width: 45%;
}
/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

thead th {
    background-color: #6a3ad1; 
    color: #ffffff; 
    padding: 12px 15px; 
    text-align: center; 
}

tbody tr:nth-child(even) {
    background-color: #462f92;
}

tbody tr:nth-child(odd) {
    background-color: #4c30a9;
}

tbody td {
    padding: 12px 15px;
}

table, th, td {
    border: none;
}

tbody tr:hover {
    filter: brightness(85%);
}

.bodyheading {
    margin-bottom: 18px;
    font-size: 46px;
    line-height: 1.25em;
    color: #ffffff;
}

.rating-red { 
    color: #ff0000;
    text-shadow:
    1px 1px 0 #7a0000,
    -1px 1px 0 #7a0000,
    -1px -1px 0 #7a0000,
    1px -1px 0 #7a0000;
}
.rating-yellow {
    color: #ffd700;
    text-shadow:
    1px 1px 0 #746300,
    -1px 1px 0 #746300,
    -1px -1px 0 #746300,
    1px -1px 0 #746300;
}
.rating-green {
    color: #00ff00;
    text-shadow:
    1px 1px 0 #006d00,
    -1px 1px 0 #006d00,
    -1px -1px 0 #006d00,
    1px -1px 0 #006d00;
}

.plain a {
    text-decoration: none !important;
    color:rgb(255, 255, 255);
}

.plain a:hover {
    color: rgb(0, 213, 255);
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10px;
    font-family: 'Abel', sans-serif;
}

.search-container {
    display: flex;
    padding: 0.5em;
    background-color: #4c3093;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px ;
    flex: 2;
}

.search-bar {
    width: 100%;
    border: none;
    font-size: 30px;
    background-color: #4b2892;
    outline: none;
    border-radius: 10px;
    flex: 2;
    font-family: 'Abel', sans-serif;
}

.search-bar:focus {
    outline: none;
}

.filter {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: #9766e5;
    border-radius: 4px;
    margin: 0 10px;
    outline: none;
    max-width: 200px;
    font-family: 'Abel', sans-serif;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #00b3ff;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    font-family: 'Abel', sans-serif;
}

.search-button:hover {
    background-color: #0056b3;
}

.indextable {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.styled-table {
    border-collapse: separate;
    border-spacing: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.styled-table thead th {
    background-color: #a373fd;
    color: #333; 
    padding: 12px 15px; 
    border-radius: 10px; 
}

.styled-table tbody tr {
    background-color: #6237d7; 
    border-radius: 10px !important;
}

.styled-table tbody td {
    padding: 12px 15px;
    margin: 10px;
    border-radius: 10px;
}

.styled-table tbody tr:hover {
    filter: brightness(85%);
}

.container3 {
    display: flex;
    justify-content: space-between;
}

.results {
    text-align: center;
    width: 50%;
    padding:20px;
    box-sizing: border-box;
}

.info {
    width: 50%;
    padding:20px;
    box-sizing: border-box;
}

.mapname {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.video-container {
    position: relative;
    width: 560px;
    height: 315px;
    border: 1px solid #ccc;
}

.video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
}

.mapinfo {
    background-color: #6a37d7;
    display: block;
    border-radius: 10px;
    width: fit-content;
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mapinfo-red { 
    font-size: 24px;
    color: #ff0000;
    text-shadow:
    1px 1px 0 #7a0000,
    -1px 1px 0 #7a0000,
    -1px -1px 0 #7a0000,
    1px -1px 0 #7a0000;
}
.mapinfo-yellow {
    font-size: 24px;
    color: #ffd700;
    text-shadow:
    1px 1px 0 #746300,
    -1px 1px 0 #746300,
    -1px -1px 0 #746300,
    1px -1px 0 #746300;
}
.mapinfo-green {
    font-size: 24px;
    color: #00ff00;
    text-shadow:
    1px 1px 0 #006d00,
    -1px 1px 0 #006d00,
    -1px -1px 0 #006d00,
    1px -1px 0 #006d00;
}

.video-container2 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    border: 1px solid #ccc;
}

.video-container2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.results2 {
    text-align: center;
    width: 30%;
    padding:20px;
    box-sizing: border-box;
}

.rate {
    background-color: #6437d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    border-radius: 10px;
    font-size: 24px;
    color: #ffffff;
    padding: 5px 10px;
    line-height: 1.2;
    margin-top: 5%;
}

.rate h2 {
    margin-right: 10px;
}

.mapvid {
    width: 45%;
    padding:20px;
    box-sizing: border-box;
}

.rateform {
    font-family: 'Abel', sans-serif;
    background-color: #6a3fcd;
    color: white;
    border-color: white;
    height: fit-content;
    font-size: 20px;
    margin-bottom: 5px;
}

.ratesubmit {
    font-family: 'Abel', sans-serif;
    background-color: #593ecf;
    color: white;
    border-color: white;
    height: fit-content;
    font-size: 24px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ratemargin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rateheading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 6px;
    color: #ffffff;
}

.rateheading2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #ffffff;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .lockedslider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    pointer-events: none; /* Prevent interaction */
    border-radius: 10px;
  }

  .paragraph.largeprofile {
    font-size: 20px;
    line-height: 1.5em;
    font-family: 'Abel', sans-serif;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center items */
    gap: 10px; /* Optional: Add space between items */
}

.copy-text:hover {
    cursor: pointer;
    color: rgb(136, 136, 136);
}