{% extends "mobilelayout.html" %}

{% block main %}
<div class="container3">
    <div class="results2">
        <h2 class="mapname">
            How to surf:
        </h2>
        <div class="video-container2">
            <!-- Iframe for video embedding -->
            <iframe id="youtube-video" src="https://www.youtube.com/embed/ugOQt3Z3Ipk?start=120" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2 class="mapname">
            Techniques:
        </h2>
        <div class="video-container2">
            <!-- Iframe for video embedding -->
            <iframe id="youtube-video" src="https://www.youtube.com/embed/0vh2a_ILQCk" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}